[Unit]
Description = Backend Service
After=network.target

[Service]
User=expense
WorkingDirectory=/app
ExecStart=/bin/node /app/index.js
Environment=DB_HOST=mysql.daws81s.icu
Restart=on-failure
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target